@import "../../assets/scss/variables.scss";

.item-wrapper {
  .item-content {
    background-color: #ffffff;
    margin: 12px 12px 6px 12px;
    padding: 10px;
    box-sizing: border-box;
    .image-container {
      height: 220px;
      @media #{$device-small-screen} {
        height: 140px;
      }
      a {
        height: inherit;
        display: block;
        img {
          margin: 0 auto;
          height: inherit;
          width: 100%;
        }
      }
    }
  }
  .image-name {
    margin: 0 12px 0 0px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    .avatar {
      height: 30px;
      width: 30px;
      img {
        display: block;
        height: auto;
        max-height: 30px;
        border-radius: 50%;
      }
      svg {
        width: inherit;
        height: inherit;
      }
    }
    .name {
      display: flex;
      width: calc(100% - 0px);
      padding-left: 4px;
      box-sizing: border-box;
      p {
        height: auto;
        align-self: center;
        font-size: 15px;
        color: #000;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .image-footer {
    a {
      &.pure-button-primary {
        background-color: #ffffff;
        border: 1px solid #136bb5;
        color: #136bb5
      }
    }
  }
}
