.image-footer {
  display: flex;
  padding-top: 10px;
  color: #a2a2a1;
  .social {
    display: flex;
    justify-content: flex-end;
    .social-item {
      span {
        margin-left: 2px;
        font-size: 15px;
      }
    }
    .social-item:nth-child(2) {
      margin: 0 12px;
    }
  }
}
